{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smart Retail Challenge 2018</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock css %}
</head>

<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                            class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="#" class="navbar-brand">Three Comma Club</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a aria-expanded="false" role="button" href="{% url 'index' %}">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="https://gitlab.com/nbguzman/tcc-smart-retail">
                                <i class="fa fa-gitlab"></i>
                                Source
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div class="footer">
            <div class="text-center">
                Three Comma Club &copy; {% now 'Y' %}
            </div>
        </div>

    </div>
</div>

{% csrf_token %}

<!-- Mainly scripts -->
<script src={% static 'js/jquery-3.1.1.min.js' %}></script>
<script src={% static 'js/bootstrap.min.js' %}></script>
<script src={% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}></script>
<script src={% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}></script>

<!-- Custom and plugin javascript -->
<script src={% static 'js/inspinia.js' %}></script>
<script src={% static 'js/plugins/pace/pace.min.js' %}></script>

{% block js %}
{% endblock js %}

</body>

</html>
